/* styles/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #84a8b9;
}

header {
    background: rgba(94, 92, 92, 0.527);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

#hero {
    position: relative;
    text-align: center;
    color: white;
}

#hero img {
    width: 100%;
    height: auto;
    max-width: 600px; /* Maksymalna szerokość obrazu */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallery {
    margin-top: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Maksymalna szerokość obrazów */
    transition: transform 0.2s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

#video {
    margin-top: 2rem;
}

#games {
    margin-top: 2rem;
}

.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background: rgba(175, 169, 169, 0.527);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-item img {
    width: 100px;
    height: auto;
    margin-right: 1rem;
    border-radius: 5px;
}

.game-description {
    flex: 1;
}

footer {
    background: rgba(94, 92, 92, 0.527);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input,
form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}


#about p {
    font-size: 35px; /* Zmieniaj wartość według swoich preferencji */
}
